psycopg2-binary
pdfminer.six
pypdf
pytesseract
pdf2image
python-dotenv
flask
flask-babel
flask-login
flask-mail
flask-wtf
bleach
pillow
reportlab
werkzeug
wtforms
gunicorn
certifi
charset-normalizer
idna
requests
urllib3
markupSafe
jinja2
itsdangerous
click
colorama
pytz
qrcode[pil]
openpyxl
